.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intoText {
  display: block;
  text-align: center; /* Center text horizontally */
  margin-top: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  font-size: 50px;
}

/* Style for the translated state */
.intoText.translated {
  transform: translateY(-65px);
  transition: transform 1s ease;
}
.extra {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10mm;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Additional styling for login component */
